
*{
 box-sizing: border-box;
}
header{
    
    width: 100%;
    background-color: #106610;
height: 5cm;}
    

.main-nav{
    width: 100%;
    display: flex;
    height: 3cm;
    
    
    
    justify-content:space-between;
    border-top-style:solid;
    border-width: .3px;
    border-color: #333;
    
      
    
    
    
}
.logo{
    width:4cm;
    height: 2.cm;
    align-self: center;

}

.logincontainer{
    align-self: center;
    position: relative;
    bottom: 0.2cm;
    right: 2.5cm;
  
    
}
.logincontainer button{

    margin-right: 1cm;
    width: 5cm;
    height: 1cm;
    border-radius: 10px;
    border-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 900;
    font-size: medium;
  
    
  
}
.logincontainer #reg{
    background-color: rgb(240, 200, 0);
}


.logincontainer #log{
    background-color: rgb(41, 185, 79);
}
.top-nav{
    width: 60%;
    height: 1.2cm;
    padding-top: .03cm;
    padding-bottom: .2cm;
    text-align: center;
   
    
  
    
    
       ;
}
.top-nav li{
    font-family:  monospace;
    padding-right: 1.3cm;
    font-size: 14px;
    line-height: 14px;
    color:rgb(255, 255, 255);
    letter-spacing: .08cm;
    font-weight: bold;
    font-size: larger;
    
    
}
.top-nav ul li{
    display: inline-block;
   
}
.fixed-nav{
    background-color: #333;
    height: 1.5cm;
    text-align: left;
    letter-spacing: .05cm;
    font-size: 14px;
    line-height: 14px;
  
    padding-top: 7px;
  
   
   
}
.fixed-nav ul li{
    display: inline-block;
    padding-right: .6cm;
    padding-left: .6cm;
    color:rgb(255, 255, 255);
    margin-right: .8cm;

    height: .6cm;
    padding-top: 3.25px;
    padding-bottom: 30px;
    
   
    
    font-family:  Roboto,Helvetica Neue,sans-serif;;
    cursor: pointer;
}

  
    
    
}


.fixed-nav ul{
   
   
}
.fixed-nav ul li :hover{
    border-bottom-style: none;
    
}


.love >a{
    background-color: #106610;
}